doctype 
html(lang="en")
  head
    title!= title
  body
    h1!= message
    a(href="/insert") Insert a new duder!
    ul
      - each item in users
        li
          a(href="/details/#{item.id}")= item.name
